<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentMasterSecret</key>
	<string>G2du_e3IRme8Yc</string>
	<key>analyticsEnabled</key>
	<false/>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>P2T5AOFkThecYfIUciutqw</string>
	<key>developmentAppSecret</key>
	<string>syy6qj2cQE6pYeMR2arj6g</string>
	<key>productionAppKey</key>
	<string></string>
	<key>productionAppSecret</key>
	<string></string>
</dict>
</plist>
